In [9]:
import pandas as pd
import numpy as np
import holidays

In [10]:
df = pd.read_csv("C:\\UniProjects\\DataSci\\final\\data\\0-data-preprocessed.csv")
df.set_index('timestamp', inplace=True)
df.index=pd.to_datetime(df.index)
df.head()

,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,0.841667,0.709302,0.953704,0.822581,0.813889,0.716216,0.855932,0.887755,0.818182,0.923077,...,0.858407,0.666667,0.971963,0.705128,0.815029,0.715278,0.833333,0.893333,0.901961,0.869565
2017-01-01 00:05:00,0.858333,0.709302,0.956790,0.826613,0.811111,0.716216,0.855932,0.867347,0.790909,0.879121,...,0.823009,0.948718,0.934579,0.705128,0.884393,0.715278,0.802083,0.866667,0.872549,0.804348
2017-01-01 00:10:00,0.858333,0.709302,0.944444,0.822581,0.811111,0.648649,0.855932,0.867347,0.763636,0.857143,...,0.823009,0.961538,0.934579,0.705128,0.872832,0.715278,0.770833,0.866667,0.843137,0.858696
2017-01-01 00:15:00,0.816667,0.709302,0.947531,0.846774,0.805556,0.729730,0.847458,0.857143,0.736364,0.857143,...,0.831858,0.974359,0.943925,0.705128,0.884393,0.715278,0.812500,0.866667,0.872549,0.826087
2017-01-01 00:20:00,0.866667,0.709302,0.944444,0.850806,0.802778,0.756757,0.826271,0.857143,0.754545,0.857143,...,0.831858,1.000000,0.943925,0.705128,0.838150,0.715278,0.791667,0.866667,0.892157,0.858696

### Engineering features from timestamp

In [11]:
#creating features based on the hour, dayofweek
df['hour']=df.index.hour
df['dayofweek']=df.index.dayofweek
df['week']=df.index.isocalendar().week
df['month']=df.index.month

df.tail()

,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,413026,413845,413877,413878,414284,414694,hour,dayofweek,week,month
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-06-30 23:35:00,0.800000,0.976744,0.888889,0.564516,0.619444,0.756757,0.822034,0.826531,0.690909,0.939560,...,0.768786,0.750000,0.843750,0.853333,0.95098,0.673913,23,4,26,6
2017-06-30 23:40:00,0.833333,0.709302,0.898148,0.560484,0.625000,0.662162,0.843220,0.908163,0.645455,0.928571,...,0.849711,0.805556,0.729167,0.880000,0.95098,0.913043,23,4,26,6
2017-06-30 23:45:00,0.841667,0.709302,0.879630,0.568548,0.625000,0.729730,0.813559,0.908163,0.581818,0.928571,...,0.832370,0.916667,0.854167,0.866667,0.95098,0.717391,23,4,26,6
2017-06-30 23:50:00,0.908333,1.000000,0.876543,0.568548,0.638889,0.608108,0.868644,0.918367,0.563636,0.829670,...,0.838150,0.944444,0.812500,0.886667,0.95098,0.913043,23,4,26,6
2017-06-30 23:55:00,0.850000,0.965116,0.888889,0.584677,0.647222,0.648649,0.894068,0.928571,0.645455,0.868132,...,0.913295,0.888889,0.822917,0.886667,0.95098,0.869565,23,4,26,6

### Extracting holiday features

In [12]:
#creating feature to determine holiday dates
df['is_holiday']=df.index.to_series().apply(lambda x: x in holidays.UnitedStates(years=2017))
df.head()

,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,413845,413877,413878,414284,414694,hour,dayofweek,week,month,is_holiday
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,0.841667,0.709302,0.953704,0.822581,0.813889,0.716216,0.855932,0.887755,0.818182,0.923077,...,0.715278,0.833333,0.893333,0.901961,0.869565,0,6,52,1,True
2017-01-01 00:05:00,0.858333,0.709302,0.956790,0.826613,0.811111,0.716216,0.855932,0.867347,0.790909,0.879121,...,0.715278,0.802083,0.866667,0.872549,0.804348,0,6,52,1,True
2017-01-01 00:10:00,0.858333,0.709302,0.944444,0.822581,0.811111,0.648649,0.855932,0.867347,0.763636,0.857143,...,0.715278,0.770833,0.866667,0.843137,0.858696,0,6,52,1,True
2017-01-01 00:15:00,0.816667,0.709302,0.947531,0.846774,0.805556,0.729730,0.847458,0.857143,0.736364,0.857143,...,0.715278,0.812500,0.866667,0.872549,0.826087,0,6,52,1,True
2017-01-01 00:20:00,0.866667,0.709302,0.944444,0.850806,0.802778,0.756757,0.826271,0.857143,0.754545,0.857143,...,0.715278,0.791667,0.866667,0.892157,0.858696,0,6,52,1,True

In [13]:
df.to_csv('C:/UniProjects/DataSci/final/data/1-data-engineered.csv', index=True)